@import "../common/mixins";
@import "../common/config";


.modal-underlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: black;
  opacity: 0.4;
}

.modal-holder-wrap {
  margin: 0 auto;
  display: table;
  height: 100%;
  z-index: 100;
}

.modal-holder {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.modal {
  position: relative;
  background: #f0f0f0;
  //padding: 20px 15px;
  z-index: 101;
  .border-box();
  .border-radius(4px);
  .box-shadow(0 1px 10px rgba(0,0,0,45%));
  .x {
    position: absolute;
    display: block;
    text-decoration: none;
    color: #aaa;
    top: 0px;
    right: 4px;
    font-weight: bold;
    text-shadow: 0px 1px 0px rgba(255,255,255,70%);
    &:before {
      content: "×";
    }
    &:hover {
      color: #444;
    }
  }
}

#new-ad-modal {
  display: none;
  
  .body {
    border-bottom: 1px solid #ddd;
    padding: 5px 8px;
    background: white;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    .clearfix();
    li {
      float: left;
      color: #999;
      font-size: 12px;
      font-family: @ui-font;
    }
    label {
      margin-right: 5px
    }
    .price, .count {
      border: none;
      border-bottom: 1px solid #999;
      width: 42px;
      color: #333;
      font-family: @body-font;
      font-size: 14px;
      text-align: right;
    }
    .photo-btn, .video-btn {
      cursor: pointer;
      position: relative;
      top: -6px;
      font-family: Pictos !important;
      font-size: 24px !important;
      line-height: 16px;
      margin-left: 8px;
    }
  }
  
  .footer {
    border-top: 1px solid #f0f0f0;
    padding: 5px 8px;
    .clearfix();
  }
  
  .message {
    display: block;
    color: #333;
    font-family: @body-font;
    font-size: 14px;
    //padding-right: 7px;
    resize: none;
    width: 400px;
    height: 130px;
    border: none;
  }
}