<% content_for :title, "Dashboard" %>

<% content_for :head do %>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false&key=ABQIAAAAYUB6q4UJksDvp1TvGGHG_BQNYqpsCpiTg7NWK5aiP4T3BBIq-RRZOwE9ta7QktesY-NgAnSC2S6aiw" %>
<% end %>

<script type="html/template" id="search-input">
	<div class="search-toolbar-item">
		<div class="search-ico">s</div>
		<input class="search-input" type="text" name="search" value="" placeholder="Search">
	</div>
</script>

<script type="html/template" id="new-ad-toolbar-item">
	<div class="toolbar-ico">W</div>
</script>

<script type="html/template" id="preferences-toolbar-item">
	<div class="toolbar-ico" id="preferenes-ico">y</div>
</script>

<script type="html/template" id="followers-toolbar-item">
	<div class="toolbar-ico" id="followers-ico">g</div>
</script>

<script type="html/template" id="toolbar-separator">
	<div class="toolbar-separator"></div>
</script>

<script type="html/template" id="list-tab">
	<div class="tab-ico">l</div>
</script>

<script type="html/template" id="mine-tab">
	<div class="tab-ico">U</div>
</script>

<script type="html/template" id="messages-tab">
	<div class="tab-ico">M</div>
</script>

<script type="html/template" id="card-tab">
	<div class="tab-ico">$</div>
</script>

<script type="html/template" id="like-tab">
	<div class="tab-ico">k</div>
</script>

<script type="html/template" id="search-tab">
	<div class="tab-ico">s</div>
</script>

<script type="html/template" id="tab-separator">
	<div class="tab-separator"></div>
</script>

<script type="html/template" id="list-block">
	<div class="fish">
		<h1>1 - list page</h1>
	</div>
</script>

<script type="html/template" id="mine-block">
	<div class="fish">
		<h1>2 — mine page</h1>
	</div>
</script>

<script type="html/template" id="messages-block">
	<div class="fish">
		<h1>3 - messages page</h1>
	</div>
</script>

<script type="html/template" id="card-block">
	<div class="fish">
		<h1>4 - card page</h1>
	</div>
</script>

<script type="html/template" id="like-block">
	<div class="fish">
		<h1>5 - like page</h1>
	</div>
</script>

<script type="html/template" id="search-block">
	<div class="fish">
		<h1>6 — search page</h1>
	</div>
</script>

<div id="toolbar">
	<h1>Sellsto.me</h1>
	<ul class="items"></ul>
</div>

<div id="tab-pane">
	<div class="avator"></div>
	<ul class="items"></ul>
</div>
<div id="content-view"></div>
