<% content_for :title, "Dashboard" %>

<% content_for :head do %>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false&key=ABQIAAAAYUB6q4UJksDvp1TvGGHG_BQNYqpsCpiTg7NWK5aiP4T3BBIq-RRZOwE9ta7QktesY-NgAnSC2S6aiw" %>
<% end %>

<script type="html/template" id="list-block" class="autoload" data-class="UIContentBlock">
	<div class="fish">
		<h1>1 - list page</h1>
	</div>
</script>

<script type="html/template" id="mine-block" class="autoload" data-class="UIContentBlock">
	<div class="fish">
		<h1>2 — mine page</h1>
	</div>
</script>

<script type="html/template" id="messages-block" class="autoload" data-class="UIContentBlock">
	<div class="fish">
		<h1>3 - messages page</h1>
	</div>
</script>

<script type="html/template" id="card-block" class="autoload" data-class="UIContentBlock">
	<div class="fish">
		<h1>4 - card page</h1>
	</div>
</script>

<script type="html/template" id="like-block" class="autoload" data-class="UIContentBlock">
	<div class="fish">
		<h1>5 - like page</h1>
	</div>
</script>

<script type="html/template" id="search-block" class="autoload" data-class="UIContentBlock">
	<div class="fish">
		<h1>6 — search page</h1>
	</div>
</script>

<div id="toolbar" class="autoload" data-class="UIToolbar">
	<h1>Sellsto.me</h1>
	<ul class="items">
		<li data-class="UIToolbarButton">
			<div class="toolbar-ico">W</div>
		</li>
		<li data-class="UIToolbarItem">
			<div class="toolbar-separator"></div>
		</li>
		<li data-class="UIToolbarSearch">
			<div class="search-toolbar-item">
				<div class="submit search-ico">s</div>
				<input class="search-input" type="text" name="search" value="" placeholder="Search">
			</div>
		</li>
		<li data-class="UIToolbarButton" style="float: right; ">
			<div class="toolbar-ico" id="preferenes-ico">y</div>
		</li>
		<li data-class="UIToolbarButton" style="float: right; ">
			<div class="toolbar-ico" id="followers-ico">g</div>
		</li>
	</ul>
</div>

<div id="tabpane" class="autoload" data-class="UITabPane">
	<div class="avator" data-class="UIAvator">
		<img src="/assets/sample/avator.png" alt="vol4ok">
	</div>
	<ul class="items">
		<li class="selected" data-class="UITabButton" data-block="list-block" id="list-tab-button">
			<div class="tab-ico">l</div>
		</li>
		<li data-class="UITabButton" data-block="mine-block" id="mine-tab-button">
			<div class="tab-ico">U</div>
		</li>
		<li data-class="UITabButton" data-block="messages-block" id="messages-tab-button">
			<div class="tab-ico">M</div>
		</li>
		<li data-class="UITabItem">
			<div class="tab-separator"></div>
		</li>
		<li data-class="UITabButton" data-block="card-block" id="card-tab-button">
			<div class="tab-ico">$</div>
		</li>
		<li data-class="UITabButton" data-block="like-block" id="like-tab-button">
			<div class="tab-ico">k</div>
		</li>
		<li data-class="UITabItem">
			<div class="tab-separator"></div>
		</li>
		<li data-class="UITabButton" data-block="search-block" id="search-tab-button">
			<div class="tab-ico">s</div>
		</li>
	</ul>
</div>
<div id="content-view" class="autoload" data-class="UIContentView"></div>
