<% content_for :title, "Dashboard" %>
<% content_for :head do %>
	<%= stylesheet_link_tag "dashboard" %>
<% end %>

<script type="text/template" id="ad-template">
		<div class="top">
			<a href="#" class="user">anonymous</a>
			<time datetime="{{created_at}}" pubdate="true">{{relative_time(created_at)}}</time>
		</div>
		<div class="disp">
			<p>{{body}}</p>
		</div>
		<div class="edit">
			<textarea class="edit-input" name="body">{{body}}</textarea>
		</div>
		<%= link_to 'Edit', '#', :class => 'edit-link' %>
		<%= link_to 'Destroy', '/ads/{{_id}}', method: :delete, :class => 'destroy-link' %>
</script>

<section>
	<header>
		<h1>Dashboard</h1>
	</header>
	
	<div id="ads">
		<div class="new-ad" id="new-ad">
			<div class="top-panel">
				<ul>
					<li>
						<a href="#" id="upload-image-link">+Image</a>
					</li>
				</ul>
			</div>
			<div id="counter"></div>
			<textarea id="ad-body"></textarea>
			<button class="button-white" id="submit" disabled>Add</button>
		</div>
		<ul id="ad-list">
		</ul>
	</div>
	
</section>
