<% content_for :title, "Dashboard" %>
<% content_for :head do %>
	<%= javascript_include_tag "dashboard" %>
	<%= stylesheet_link_tag "dashboard" %>
<% end %>
<script type="text/template" id="ad-view-image">
	<a href="http://localhost:4000/m_{{name}}.jpeg"><img src="http://localhost:4000/t_{{name}}.jpeg" alt=""></a>
</script>

<script type="text/template" id="ad-view">
		<div class="top">
			<a href="#" class="user">anonymous</a>
			<time datetime="{{created_at}}" pubdate="true">
				{{sellstome.helpers.relative_time(created_at)}}
			</time>
		</div>
		<div class="show">
			<div class="image-list"></div>
			<p>{{body}}</p>
		</div>
		<div class="edit">
			<textarea class="edit-input" name="body">{{body}}</textarea>
		</div>
		<%= link_to 'Edit', '#', :class => 'edit-link' %>
		<%= link_to 'Destroy', '/ads/{{_id}}', method: :delete, :class => 'delete-link' %>
</script>

<script type="text/template" id="upload-view">
		{{file.fileName}} {{file.fileSize}} 
		<span style="displat:none;color:red;" class="progress">0%</span>
		<a href="#" class="delete-link">remove</a>
</script>

<section class="dashboard">
	<header>
		<h1>Dashboard</h1>
	</header>
	
	<div id="ad-builder-view">
		<input class="file-input" type="file" multiple>
		<ul class="upload-list"></ul>
		<div class="counter">0</div>
		<textarea class="body-input"></textarea>
		<button class="submit-button" disabled>Add</button>
	</div>
	
	<ul id="ad-list-view">
	</ul>
	
</section>
