@-webkit-keyframes scaleIn {
  from { -webkit-transform: scale(0.01); }
  to { -webkit-transform: scale(1); }
}
@-moz-keyframes scaleIn {
  from { -webkit-transform: scale(0.01); }
  to { -webkit-transform: scale(1); }
}
@keyframes scaleIn {
  from { -webkit-transform: scale(0.01); }
  to { -webkit-transform: scale(1); }
}



@-webkit-keyframes scaleOut {
  from { -webkit-transform: scale(1); }
  to { -webkit-transform: scale(0.01); }
}
@-moz-keyframes scaleOut {
  from { -webkit-transform: scale(1); }
  to { -webkit-transform: scale(0.01); }
}
@keyframes scaleOut {
  from { -webkit-transform: scale(1); }
  to { -webkit-transform: scale(0.01); }
}



@-webkit-keyframes moveFromTop {
  from { -webkit-transform: translateY(-100%); }
  to { -webkit-transform: translateY(0%); }
}
@-moz-keyframes moveFromTop {
  from { -moz-transform: translateY(200%); }
  to { -moz-transform: translateY(0%); }
}
@keyframes moveFromTop {
  from { -o-transform: translateY(200%); }
  to { -o-transform: translateY(0%); }
}
