.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
.rvmrc
*.DS_Store
config/mongoid.yml
/.idea/.generators
/.idea/.name
/.idea/.rakeTasks
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/sellsto.me.iml
/.idea/vcs.xml
/.idea/workspace.xml
/data
/.idea/projectCodeStyle.xml