<% content_for :title, "Search" %>

<% content_for :head do %>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false&key=ABQIAAAAYUB6q4UJksDvp1TvGGHG_BQNYqpsCpiTg7NWK5aiP4T3BBIq-RRZOwE9ta7QktesY-NgAnSC2S6aiw" %>
	<%= javascript_include_tag "search" %>
	<%= stylesheet_link_tag "search" %>
<% end %>

<script type="html/template" id="search-page">
	<div id="map"></div>

	<div id="aside">
		<div class="resizer"></div>
		<div class="item-list"></div>
	</div>
</script>

<script type="html/template" id="aside-item">
	<div class="row">
		<div class="col image">
			<img src="http://localhost:4000/images/m/{{ images[0].name }}.{{ images[0].type }}" alt="">
		</div>

		<div class="col content">
			<div class="bar clearfix">
				<div class="author left">
					<img src="http://localhost:4000/images/m/{{ avator.name }}.{{ avator.type }}" alt="">
					<a href="/user/{{ author }}">{{ author }}</a>
				</div>
				<div class="timestamp right"><span class="mini-ico">t</span>{{ sellstome.helpers.relative_time(created_at) }}</div>
				<div class="location right"><a href="#" class="dotted"><span class="mini-ico">@</span>{{ Math.round(location.latitude*100)/100 }}, {{ Math.round(location.longitude*100)/100 }}</a></div>
			</div>
			<div class="message">
				{{ body }}
			</div>
			<div class="bar clearfix">
				<div class="ad-btns left">
					<span class="mini-ico">k</span>
					<span class="mini-ico">$</span>
					<span class="mini-ico">R</span>
				</div>
				<div class="social-btns right">
					<span class="mini-ico">B</span>
				</div>
			</div>
		</div>

		<div class="col price">
			<div class="price-data">
				<sup>$</sup>{{ price }}
			</div>
			<div class="items-count">
				{{ count }} items
			</div>
		</div>
	</div>
	<hr>
</script>

<div id="toolbar">
	<h1>Sellsto.me</h1>
	<ul class="menu">
	</ul>
	<div class="search">
		<span class="menu-ico">s</span>
		<input class="search-input" type="text" name="search" value="" placeholder="search">
	</div>
</div>

<div id="page"></div>

