<% content_for :title, "Search" %>

<% content_for :head do %>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false&key=ABQIAAAAYUB6q4UJksDvp1TvGGHG_BQNYqpsCpiTg7NWK5aiP4T3BBIq-RRZOwE9ta7QktesY-NgAnSC2S6aiw" %>
	<%= javascript_include_tag "search" %>
	<%= stylesheet_link_tag "search" %>
<% end %>

<div id="toolbar">
	<h1>Sellsto.me</h1>
	<ul class="menu">
		<li class="menu-ico">H</li>
		<li class="menu-ico">M</li>
		<li class="menu-ico selected">l</li>
		<li class="menu-ico">y</li>
	</ul>
	<div class="search">
		<span class="menu-ico">s</span>
		<input type="text" name="search" value="" placeholder="search">
	</div>
</div>

<div id="map"></div>
<div id="aside">
	<ul></ul>
</div>