<% content_for :title, "Search" %>

<% content_for :head do %>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false&key=ABQIAAAAYUB6q4UJksDvp1TvGGHG_BQNYqpsCpiTg7NWK5aiP4T3BBIq-RRZOwE9ta7QktesY-NgAnSC2S6aiw" %>
	<%= javascript_include_tag "search" %>
	<%= stylesheet_link_tag "search" %>
<% end %>

<div id="toolbar">
	<h1>Sellsto.me</h1>
	<ul class="menu">
		<li class="menu-ico">H</li>
		<li class="menu-ico">M</li>
		<li class="menu-ico selected">l</li>
		<li class="menu-ico">y</li>
	</ul>
	<div class="search">
		<span class="menu-ico">s</span>
		<input type="text" name="search" value="" placeholder="search">
	</div>
</div>

<div id="map"></div>

<div id="aside">

	<div class="row">
		<div class="col image">
			<img src="/assets/sample/item-1.png" alt="">
		</div>

		<div class="col content">
			<div class="bar clearfix">
				<div class="author left">
					<img src="/assets/sample/av-1.png" alt="vol4ok">
					<a href="/user/vol4ok">vol4ok</a>
				</div>
				<div class="timestamp right"><span class="mini-ico">t</span>two hours ago</div>
				<div class="location right"><a href="#" class="dotted"><span class="mini-ico">@</span>Minsk, Belarus</a></div>
			</div>
			<div class="message">
				While everyone else was busy trying to keep up with #iPhone, we were busy creating amazing new features that make iPhone... more➛
			</div>
			<div class="bar clearfix">
				<div class="ad-btns left">
					<span class="mini-ico">k</span>
					<span class="mini-ico">$</span>
					<span class="mini-ico">R</span>
				</div>
				<div class="social-btns right">
					<span class="mini-ico">B</span>
				</div>
			</div>
		</div>

		<div class="col price">
			<div class="price-data">
				<sup>$</sup>560
			</div>
			<div class="items-count">
				12 items
			</div>
		</div>
	</div>
	
	<hr>
	
	<div class="row">
		<div class="col image">
			<img src="/assets/sample/item-1.png" alt="">
		</div>

		<div class="col content">
			<div class="bar clearfix">
				<div class="author left">
					<img src="/assets/sample/av-1.png" alt="vol4ok">
					<a href="/user/vol4ok">vol4ok</a>
				</div>
				<div class="timestamp right"><span class="mini-ico">t</span>two hours ago</div>
				<div class="location right"><a href="#" class="dotted"><span class="mini-ico">@</span>Minsk, Belarus</a></div>
			</div>
			<div class="message">
				While everyone else was busy trying to keep up with #iPhone, we were busy creating amazing new features that make iPhone... more➛
			</div>
			<div class="bar clearfix">
				<div class="ad-btns left">
					<span class="mini-ico">k</span>
					<span class="mini-ico">$</span>
					<span class="mini-ico">R</span>
				</div>
				<div class="social-btns right">
					<span class="mini-ico">B</span>
				</div>
			</div>
		</div>

		<div class="col price">
			<div class="price-data">
				<sup>$</sup>800
			</div>
			<div class="items-count">
				12 items
			</div>
		</div>
	</div>
	
	<hr>
	
	<div class="row">
		<div class="col image">
			<img src="/assets/sample/item-1.png" alt="">
		</div>

		<div class="col content">
			<div class="bar clearfix">
				<div class="author left">
					<img src="/assets/sample/av-1.png" alt="vol4ok">
					<a href="/user/vol4ok">vol4ok</a>
				</div>
				<div class="timestamp right"><span class="mini-ico">t</span>two hours ago</div>
				<div class="location right"><a href="#" class="dotted"><span class="mini-ico">@</span>Minsk, Belarus</a></div>
			</div>
			<div class="message">
				While everyone else was busy trying to keep up with #iPhone, we were busy creating amazing new features that make iPhone... more➛
			</div>
			<div class="bar clearfix">
				<div class="ad-btns left">
					<span class="mini-ico">k</span>
					<span class="mini-ico">$</span>
					<span class="mini-ico">R</span>
				</div>
				<div class="social-btns right">
					<span class="mini-ico">B</span>
				</div>
			</div>
		</div>

		<div class="col price">
			<div class="price-data">
				<sup>$</sup>640
			</div>
			<div class="items-count">
				12 items
			</div>
		</div>
	</div>
</div>