
html, body, div, span, a, img, h1, h2, h3, h4, h5, h6, hgroup, p, dl, dt, dd, ol, ul, li, abbr, address, b, blockquote, cite, code, del, dfn, em, i, ins, kbd, pre, q, samp, var, small, strong, sub, sup, object, iframe, form, fieldset, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section, figure, menu, time, mark, audio, video {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  white-space: normal;
  text-align: left;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent; 
}

textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  white-space: normal;
  text-align: left;
  margin: 0;
  padding: 0; 
}

article, aside, details, footer, header, nav,
section, figure, figcaption, hgroup, menu {
  display: block; 
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; 
}

del, ins {
  text-decoration: none; 
}

ol, ul {
  list-style: none; 
}

nav ul {
  list-style-type: none; 
}

table {
  border-collapse: separate;
  border-spacing: 0;
  background-color: transparent;
  width: auto;
  height: auto; 
}

:focus {
  outline: 0; 
}

blockquote, q {
  quotes: "\00ab" "\00bb"; 
}

input {
  margin: 0; 
}

/* BASE */

h4, h5, h6, b, strong, caption, th, thead, dt, legend {
  font-weight: 600; 
}

cite, dfn, em, i {
  font-style: italic; 
}

code, kbd, samp, pre, var {
  font-family: mono-space, monospace; 
}

pre {
  white-space: pre;
  font-size: 14px; 
}

del {
  text-decoration: line-through; 
}

mark {
  background: rgba(255, 255, 0, 0.4);
  padding: 0 0.25em; 
}

ins {
  color: red; 
}

small, sup, sub {
  font-size: 80%; 
}

abbr {
  font-size: 85%;
  text-transform: uppercase;
  letter-spacing: 0.1em; 
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted black;
  cursor: help; 
}

sup {
  vertical-align: super; 
}

sub {
  vertical-align: sub; 
}

blockquote {
  padding: 1.5em; 
}

hr {
  border: none;
  background: #ddd;
  width: 100%; 
}

@font-face {
    font-family: 'Pictos';
    src: url('/pictos/pictos_rip-webfont.eot');
    src: url('/pictos/pictos_rip-webfont.eot?#iefix') format('embedded-opentype'),
         url('/pictos/pictos_rip-webfont.woff') format('woff'),
         url('/pictos/pictos_rip-webfont.ttf') format('truetype'),
         url('/pictos/pictos_rip-webfont.svg#PictosRIPRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  min-width: 840px;
  overflow: hidden;
  color: #777777;
  background: url('bg11.png');
  z-index: 10;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.toolbar li {
  float: left;
  height: 100%;
}
.toolbar .toolbar-button {
  width: 50px;
  color: #858585;
  font-size: 30px;
  line-height: 28px;
  font-family: Pictos;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.toolbar .selected {
  width: 48px;
  background: #888;
  border-right: 1px solid #777;
  border-left: 1px solid #777;
  color: white;
  text-shadow: none;
}
.toolbar .toolbar-separator {
  width: 0;
  border-left: 1px solid #b8b8b8;
  border-right: 1px solid #f0f0f0;
  height: 32px;
  margin: 9px 10px;
}
.toolbar .toolbar-logo {
  width: 180px;
  line-height: 50px;
  padding: 0px 10px;
}
.toolbar .toolbar-logo h1 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 30px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
  font-weight: 300;
}
.toolbar .toolbar-logo a {
  color: inherit;
  text-decoration: none;
}
.toolbar .toolbar-logo a:hover {
  color: #555;
}
.toolbar .toolbar-search {
  margin: 8px 12px 0;
  position: relative;
  width: 350px;
}
.toolbar .toolbar-search .search-button {
  position: absolute;
  right: 8px;
  top: -2px;
  z-index: 101;
  color: #858585;
  font-size: 22px;
  line-height: 22px;
  font-family: Pictos;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.toolbar .toolbar-search .search-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  vertical-align: top;
  width: 100%;
  color: #777777;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 8px 32px 8px 8px;
  border: 1px solid #b8b8b8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
}
.sidebar {
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  width: 64px;
  background: url('bg10.png');
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.sidebar li {
  width: 100%;
}
.sidebar .sidebar-button {
  height: 50px;
  color: #aaa;
  font-size: 30px;
  line-height: 28px;
  font-family: Pictos;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.sidebar .selected {
  color: gold;
  text-shadow: 0px 0px 4px gold;
}
.sidebar .sidebar-separator {
  height: 0;
  border-top: 1px solid #242424;
  border-bottom: 1px solid #444;
  width: 64px;
  margin: 10px 0px;
}
.content-view {
  position: absolute;
  top: 50px;
  left: 64px;
  right: 0;
  bottom: 0;
  background: url('bg9.png');
  border-left: 1px solid #242424;
  min-width: 776px;
}
.content-block {
  display: none;
}
.content-block .fish {
  margin: 300px auto;
}
.content-block .fish h1 {
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
}
.modal-underlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: black;
  opacity: 0.4;
}
.modal-holder-wrap {
  margin: 0 auto;
  display: table;
  height: 100%;
  z-index: 100;
}
.modal-holder {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.modal {
  position: relative;
  background: #f0f0f0;
  padding: 20px 15px;
  z-index: 101;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.45);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.45);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.45);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.45);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.45);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.45);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.45);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.45);
}
.modal .close {
  position: absolute;
  display: block;
  text-decoration: none;
  color: #aaa;
  top: 0px;
  right: 4px;
  font-weight: bold;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
}
.modal .close:before {
  content: "×";
}
.modal .close:hover {
  color: #444;
}
#new-ad-modal {
  display: none;
}
#new-ad-modal textarea {
  display: block;
  width: 400px;
  height: 40px;
  border: 1px solid #777;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.ad-list {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 40%;
  background: #fdfdfd;
  overflow: auto;
  border-right: 1px solid #bbb;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.ad-list .spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  z-index: 1;
  color: #555;
  font-family: Geneva, Lucida Grande, Lucida Sans, Lucida Sans Unicode, Verdana, sans-serif;
  font-size: 15px;
  line-height: 72px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
  text-align: center;
  border: none;
}
.ad-list .spinner .spin-1 {
  padding: 15px 15px 15px 46px;
  background: url('spinner.gif') no-repeat 15px 12px, #b8b8b8;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7), 0 -1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7), 0 -1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7), 0 -1px 0 rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.ad-list li {
  zoom: 1;
  zoom: 1;
  zoom: 1;
  zoom: 1;
  zoom: 1;
  zoom: 1;
  zoom: 1;
  color: #404040;
  font-size: 13px;
  font-family: PT Sans;
  padding: 8px 0;
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid white;
}
.ad-list li:before, .ad-list li:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.ad-list li:after {
  clear: both;
}
.ad-list li:before, .ad-list li:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.ad-list li:after {
  clear: both;
}
.ad-list li:before, .ad-list li:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.ad-list li:after {
  clear: both;
}
.ad-list li:before, .ad-list li:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.ad-list li:after {
  clear: both;
}
.ad-list li:before, .ad-list li:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.ad-list li:after {
  clear: both;
}
.ad-list li:before, .ad-list li:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.ad-list li:after {
  clear: both;
}
.ad-list li:before, .ad-list li:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.ad-list li:after {
  clear: both;
}
.ad-list .row {
  display: table-row;
}
.ad-list .col {
  display: table-cell;
  vertical-align: top;
  padding: 5px;
}
.ad-list .image img {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.ad-list .message {
  line-height: 18px;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}
.ad-list .price {
  vertical-align: middle;
  width: 60px;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}
.ad-list .price .price-data {
  width: 100%;
  font-size: 21px;
  text-align: center;
}
.ad-list .price .items-count {
  width: 100%;
  font-size: 9px;
  text-align: center;
}
.map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 60%;
  background: gold;
}
html {
  overflow: hidden;
}
body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.left {
  float: left  !important;
}
.right {
  float: right !important;
}
/* icons */
#new-ad-button:before {
  content: "W";
}
#search-button:before {
  content: "s";
}
#pref-button:before {
  content: "y";
}
#followers-button:before {
  content: "g";
}
#list-sidebar-button:before {
  content: "l";
}
#mine-sidebar-button:before {
  content: "U";
}
#messages-sidebar-button:before {
  content: "M";
}
#card-sidebar-button:before {
  content: "$";
}
#like-sidebar-button:before {
  content: "k";
}
#search-sidebar-button:before {
  content: "s";
}

,