@font-face {
    font-family: 'Pictos';
    src: url('/pictos/pictos_rip-webfont.eot');
    src: url('/pictos/pictos_rip-webfont.eot?#iefix') format('embedded-opentype'),
         url('/pictos/pictos_rip-webfont.woff') format('woff'),
         url('/pictos/pictos_rip-webfont.ttf') format('truetype'),
         url('/pictos/pictos_rip-webfont.svg#PictosRIPRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}