$head-font: Georgia, Times, TimesNewRoman, serif;
$body-font: Helvetica Neue, Helvetica, Arial, sans-serif;

$layout-width: 600px;
$line-height: 21px;
$font-size: 13px;

$toolbar-height: 64px;

$color-1: #CCC;
$color-2: #676767;
$color-3: #A0A0A0;
$color-4: #B4B4B4;
