$head-font: Georgia, Times, TimesNewRoman, serif;
$body-font: Helvetica Neue, Helvetica, Arial, sans-serif;
$ui-font: Geneva, Lucida Grande, Lucida Sans, Lucida Sans Unicode, Verdana, sans-serif;

$line-height: 21px;
$font-size: 13px;