module.exports = (options) -> 
  """
  server {
    listen       #{options['listen']};
    server_name  #{options['domains'].join(',')};
    root         #{options['root-dir']};

    charset utf-8;
    access_log logs/sellstome.access.log main;
  }
  """