/*= require_self */

@import "common/reset";
@import "common/config";
@import "common/helpers";
@import "common/titillium-font";
@import "common/pictos-font";

/* CONFIG */

$color-1: #CCC;
$color-2: #777;
$color-3: #A0A0A0;
$color-4: #B4B4B4;
$toolbar-height: 50px;
$content-pane-width: 64px;
$page-min-width: 840px;
$TOP: 100;


body {
	font-family: $body-font;
	font-size: $font-size;
	font-weight: 300;
	line-height: $line-height; 
	overflow-y: hidden;
}

p, h1, h2, h3, h4, h5, h6 {
	position: relative;
}

h1 {
	font-family: Titillium;
	font-size: 32px;
	line-height: 2*$line-height;
	margin-bottom: $line-height;
	font-weight: lighter;
}

h2 {
	font-family: $head-font;
	font-size: 28px;
	line-height: 2*$line-height;
}

h3 {
	font-family: $head-font;
	font-size: 21px;
	font-style: italic;
	line-height: $line-height;
}

h4 {
	font-family: $head-font;
	font-size: 18px;
	line-height: $line-height;
}

h5 {
	font-family: $head-font;
	font-size: 16px;
	line-height: $line-height;
}

h6 {
	font-family: $head-font;
	font-size: 14px;
	line-height: $line-height;
}

input {
  font-family: $ui-font;
}

a {
  color: #000;
  &:visited {
    color: #000;
	}
  &:hover {
		color: #fff; 
		background-color: #000;
    text-decoration: none; 
	}
  &:active {
    color: #000;
    text-decoration: none; 
	} 
}

.dotted {
	text-decoration: none;
	border-bottom: 1px dotted $color-2;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.left {
	float: left;
}

.right {
	float: right; 
}

/* TOOLBAR */

#toolbar {
  position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: $toolbar-height;
	min-width: $page-min-width;
	color: $color-2;
	background: url('bg11.png');
	overflow: hidden;
	//border-bottom: 1px solid #dadada;
	@include box-shadow(0 1px 2px rgba(0,0,0,0.35));
	z-index: $TOP;
	@include user-select(none);
	h1 {
		float: left;
		margin: 8px 8px;
		text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
	}
	ul {
	  position: absolute;
	  left: 200px;
	  right: 5px;
		margin-left: 80px;
		height: 100%;
	}
	li {
		float: left;
		height: 100%;
	}
	
	.search-toolbar-item {
    margin: 8px 12px 0;
    position: relative;
    width: 350px;
    .search-ico {
      position: absolute;
      right: 8px;
      top: -2px;
      z-index: 101;
    	color: #858585;
    	font-size: 22px;
    	line-height: 22px;
    	font-family: Pictos;
    	text-align: center;
    	text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
    	cursor: pointer;
    }
    .search-input {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
    	resize: none;
    	vertical-align: top;
    	width: 100%;
    	color: $color-2;
    	font-family: $body-font;
    	font-size: 14px;
    	padding: 8px 32px 8px 8px;
    	border: 1px solid #b8b8b8;
    	@include border-radius(4px);
    	@include box-shadow-2(inset 0 3px 5px rgba(0,0,0,0.15), 
    	                      0px 1px 0px rgba(255,255,255,0.7) );
    }
  }

  .selected {
    background: #888;
  	border-right: 1px solid #777;
  	border-left: 1px solid #777;
    .toolbar-ico {
      margin: 0 11px;
    	color: white;
    	font-size: 30px;
    	line-height: 28px;
    	font-family: Pictos;
    	text-align: center;
    	text-shadow: none;
    	cursor: pointer;
    	@include user-select(none);
    }
  }

  .toolbar-ico {
    margin: 0 12px;
  	color: #858585;
  	font-size: 30px;
  	line-height: 28px;
  	font-family: Pictos;
  	text-align: center;
  	text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
  	cursor: pointer;
  	@include user-select(none);
  }

  #preferenes-ico {
    line-height: 30px;
    font-size: 28px !important;
  }

  #followers-ico {
    line-height: 24px;
    font-size: 34px !important;
  }

  .toolbar-separator {
    $vert-margin: 9px;
    width: 0;
    border-left: 1px solid #b8b8b8;
    border-right: 1px solid #f0f0f0;
    height: $toolbar-height - 2*$vert-margin;
    margin: $vert-margin 10px;
  }
}

/* TABPANE */

#tab-pane {
  position: absolute;
	top: $toolbar-height;
	left: 0;
	bottom: 0;
	width: $content-pane-width;
	background: url('bg10.png');
	@include user-select(none);
	
	ul {
	  position: absolute;
	  top: 100px;
	  left: 0;
	  right: 0;
	  bottom: 0;
	}
	li {
	  width: 100%;
	}
	
	.selected {
    .tab-ico {
      height: 50px;
    	color: #01B3F2;
    	font-size: 30px;
    	line-height: 28px;
    	font-family: Pictos;
    	text-align: center;
    	cursor: pointer;
    	text-shadow: 0px 0px 4px #01B3F2;
    	@include user-select(none);
    }
  }

  .tab-ico {
    height: 50px;
  	color: #aaa;
  	font-size: 30px;
  	line-height: 28px;
  	font-family: Pictos;
  	text-align: center;
  	cursor: pointer;
  	@include user-select(none);
  }

  .tab-separator {
    $horiz-margin: 0px;
    height: 0;
    border-top: 1px solid #242424;
    border-bottom: 1px solid #444;
    width: $content-pane-width - 2*$horiz-margin;
    margin: 10px $horiz-margin;
  }
  .avator {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    img {
      @include border-radius(4px);
      @include box-shadow-2(0px -1px 0px rgba(255,255,255,0.4), 
                            0px 1px 1px rgba(0,0,0,0.7));
    }
  }
}

/* CONTENT-VIEW */

#content-view {
  position: absolute;
	top: $toolbar-height;
	left: $content-pane-width;
	right: 0;
	bottom: 0;
	background: url('bg9.png');
	border-left: 1px solid #242424;
	min-width: $page-min-width - $content-pane-width;
}

// temp
.fish {
  margin: 300px auto;
  h1 {
    color: rgba(255,255,255,0.3);
    text-align: center;
  }
}