/*= require_self */

@import "common/reset";
@import "common/config";
@import "common/helpers";
@import "common/titillium-font";
@import "common/pictos-font";

body {
	font-family: $body-font;
	font-size: $font-size;
	font-weight: 300;
	line-height: $line-height; 
	#background: url('bg2.png');
}

p, h1, h2, h3, h4, h5, h6 {
	position: relative;
}

h1 {
	font-family: Titillium;
	font-size: 35px;
	line-height: 2*$line-height;
	margin-bottom: $line-height;
}

h2 {
	font-family: $head-font;
	font-size: 28px;
	line-height: 2*$line-height;
}

h3 {
	font-family: $head-font;
	font-size: 21px;
	font-style: italic;
	line-height: $line-height;
}

h4 {
	font-family: $head-font;
	font-size: 18px;
	line-height: $line-height;
}

h5 {
	font-family: $head-font;
	font-size: 16px;
	line-height: $line-height;
}

h6 {
	font-family: $head-font;
	font-size: 14px;
	line-height: $line-height;
}

a {
  color: #000;
  //text-decoration: underline;
  &:visited {
    color: #000;
    //text-decoration: underline; 
	}
  &:hover {
		color: #fff; 
		background-color: #000;
    text-decoration: none; 
	}
  &:active {
    color: #000;
    text-decoration: none; 
	} 
}

.dotted {
	text-decoration: none;
	border-bottom: 1px dotted $color-2;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.left {
	float: left;
}

.right {
	float: right;
}

.row {
	display: table-row;
}

.col {
	display: table-cell;
	vertical-align: top;
	padding: 5px;
}

hr {
	height: 1px;
	background: $color-4;
}

.wrap {
	border-bottom: 1px solid red;
}

.image {
	img {
		@include border-radius(4px);
	}
}

.content {
	.message {
		line-height: 18px;
	}
	.author {
		font-weight: bold;
		img { @include border-radius(3px)	}
		a {	vertical-align: top; }
	}
}

.bar {
	font-size: 11px;
	line-height: 21px;
	height: 27px;
	div {
		margin: 0 5px;
		&:first-child { margin-left: 0;	}
		&:last-child { margin-right: 0; }
	}
}

.price {
	vertical-align: middle;
	width: 60px;
	.price-data {
		width: 100%;
		font-size: 21px;
		text-align: center;
	}
	.items-count {
		width: 100%;
		font-size: 9px;
		text-align: center;
	}
}

.ad-btns span {
	line-height: 14px;
	font-size: 14px;
	cursor: pointer;
}

.social-btns span {
	line-height: 14px;
	font-size: 16px;
	cursor: pointer;
}
/* Elements */

.menu-ico {
	color: $color-2;
	font-size: 36px;
	line-height: 36px;
	font-family: Pictos;
	text-align: center;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
}

.mini-ico {
	color: $color-2;
	font-size: 11px;
	line-height: 11px;
	font-family: Pictos;
	text-align: center;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
	margin-right: 3px;
}

.selected {
	color: white;
	background: $color-4;
	border-right: 1px solid $color-3;
	border-left: 1px solid $color-3;
	text-shadow: none;
}

#toolbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: $toolbar-height;
	min-width: 850px;
	color: $color-2;
	background: $color-1;
	border-bottom: 1px solid $color-3;
	z-index: 100;
	h1 {
		float: left;
		margin: 14px 14px;
	}
	ul {
		float:left;
		margin-left: 100px;
		height: 100%;
	}
	li {
		float: left;
		width: $toolbar-height;
		height: 100%;
		cursor: pointer;
	}
	.search {
		float: right;
		input {
			resize: none;
			vertical-align: top;
			margin: 16px 14px 0;
			width: 200px;
			color: $color-2;
			font-family: $body-font;
			font-size: 16px;
			padding: 8px;
			border: 1px solid $color-3;
			@include border-radius(4px);
			@include box-shadow-2(inset 0 3px 5px rgba(0,0,0,0.15), 
			                      0px 1px 0px rgba(255,255,255,0.5) );
		}
	}
}

#map {
	position: absolute;
	top: 0; //$toolbar-height;
	left: 0;
	bottom: 0;
	right: 0;
	min-width: 850px;
	z-index: -100;
}

#page {
	position: absolute;
	top: $toolbar-height;
	left: 0;
	bottom: 0;
	right: 0;
	min-width: 850px;
}

#aside {
	position: absolute;
	top: 0; //$toolbar-height;
	left: 0;
	bottom: 0;
	width: 45%;
	background: #ddd;
	//overflow-y: scroll;
	z-index: 0;
	li {
		width: 100%;
		border-bottom: 1px solid $color-2;
	}
	.resizer {
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		width: 5px;
		background: $color-2;
		cursor: e-resize;
	}
}