// Place all the styles related to the geolocation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
    height: 100%
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px
}

div#map_canvas {
    height: 768px;
    width: 1366px;
}