article {
	background: none !important;
}
#map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -100;
}
/** Positioning for the change view tab. */
section#controlPanel {
    position: absolute;
    top: 130px;
    left: 30px;
}

.controls {
    background: white;
    border: 1px solid black;
    -moz-opacity:.90;
    filter:alpha(opacity=90);
    opacity:.90;
}

    /** Styling for the change view tab */
    .tab .tabItem {
        height: 30px;
        margin-top: 10px;
        list-style: none;
        display: block;
    }

.search-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background: #222;
	border-bottom: 1px solid #555;
	opacity: 0.8;
	.logo {
		position: absolute;
		top: 8px;
		left: 10px;
		h1 {
			font-family: georgia;
			font-style: italic;
			font-size: 24px;
			line-height: 24px;
			color: white;
			a { color: white; }
		}
	}
	#query-view {
		margin: 10px auto;
		width: 300px;
		label {
			color: white;
		}
		.query {
			width: 250px;
			height: 20px;
		}
	}
}

