<h1>register</h1>
<div class="signup_form_container">
    <form class="signup_form">
        <div class="input_row">
            <input type="email" name="user[email]" placeholder="Email" />
        </div>
        <div class="input_row">
            <input type="password" name="user[password]" placeholder="Password" />
        </div>
        <div class="input_row">
            <input type="text" name="user[name]" placeholder="User Name" />
        </div>
        <div class="input_row">
            <input type="submit" name="action" value="Signup" />
        </div>
    </form>
</div>